@import "tailwindcss";

@keyframes popup-open {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popup-open {
  animation: popup-open 0.3s ease-out forwards;
}